// Use legacy @import to allow overriding $fa-font-path before load
$fa-font-path: '../fonts/fontawesome-free/webfonts';

@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../node_modules/@fortawesome/fontawesome-free/scss/brands';
@import '../node_modules/@fortawesome/fontawesome-free/scss/regular';

